<!-- héritage du contenu du gabarit squelette main.hml -->
{% extends "main.html" %} <!-- si le gabarit n'est pas dans templates
                            mais dans le répertoire templates/myfirstapp/,
                            il faudra ajouter le chemin d'accès avant le nom
                            du fichier donc extends "myfirstapp/main.html" -->

<!-- définition de ce que contiendra la balise title du head -->
{% block title %}
    Bonjour
{% endblock %}

{% block content %}
    {% if nom != "" and prenom != "" and age != "" %}
        <h1> Hello {{nom}} {{prenom}} born {{age}} years ago.</h1>
    {% else %}
        <h1> Hello World </h1>
    {%endif%}
{% endblock %}


<!--
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>bonjour</title>
</head>

<body>
    {% if nom != "" and prenom != "" and age != "" %}
        <h1> Hello {{nom}} {{prenom}} born {{age}} years ago.</h1>
    {% else %}
        <h1> Hello world </h1>
    {%endif%}
</body>

</html>
-->
